@model IEnumerable<Pharmacy.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@section CSS {
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Areas/admin/wwwroot/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <style>
        table th,
        table td {
            text-align: center;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Khách hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Khách hàng</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Danh sách khách hàng</h3>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="input-group input-group-sm ml-auto" style="width: 185px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Email</th>
                                <th>Mật khẩu</th>
                                <th>Quyền đặt hàng</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var STT = 1; }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.Raw(STT++)
                                    </td>
                                    <td style="text-align: start">
                                        @Html.DisplayFor(modelItem => item.email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.password)
                                    </td>
                                    <td>
                                        @if (item.permission == 1)
                                        {
                                            <span class="text-success">Được phép</span>
                                        }
                                        else if (item.permission == 0)
                                        {
                                            <span class="text-danger">Bị chặn</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.permission == 1)
                                        {
                                            <a href="@Url.Action("Block", "Accounts", new { id = item.id })"><button type="button" class="btn btn-danger">Chặn</button></a>

                                        }
                                        else if (item.permission == 0)
                                        {
                                            <a href="@Url.Action("UnBlock", "Accounts", new { id = item.id })"><button type="button" class="btn btn-primary">Gỡ chặn</button></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.container-fluid -->
<!-- /.content -->

@section Scripts {
    <!-- DataTables -->
    <script src="~/Areas/admin/wwwroot/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Areas/admin/wwwroot/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <!-- page script -->
    <script>
        $(function () {
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
}
