@model Pharmacy.Models.CompanyInfo

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Thêm blog</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin">Trang Chủ</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "CompanyInfoes")">Blog</a></li>
                    <li class="breadcrumb-item active">Thêm blog</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /.container-fluid -->
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    @using (Html.BeginForm("Create", "CompanyInfoes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <!-- Left content -->
            <div class="col-md-8">
                <div class="card card-success" id="main-card">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin blog</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="form-group">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="tittle">Tiêu đề</label>
                                @Html.EditorFor(model => model.tittle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tiêu đề tối đa 50 kí tự", @maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.tittle, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="content">Nội dung</label>
                                @Html.TextAreaFor(model => model.content, new { @class = "form-control", @rows = 5, @placeholder = "Nội dung không quá 500 kí tự", @maxlength = "500" })
                                @Html.ValidationMessageFor(model => model.content, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="link">Link</label>
                                @Html.EditorFor(model => model.link, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.link, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-check">
                                @{
                                    bool hide = true;
                                }
                                @Html.CheckBoxFor(model => hide, new { @class = "form-check-input" })
                                <label class="form-check-label" for="hide">Hiển thị</label>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
            <!-- Right content -->
            <div class="col-md-4">
                <div class="card card-cyan" id="sub-card">
                    <div class="card-header">
                        <h3 class="card-title">Ảnh đại diện</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <img id="img-preview" src="~/Areas/admin/wwwroot/dist/img/avatar2.png" width="100%" />
                        <div class="form-group">
                            <label for="img"></label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" name="img" id="img" accept=".jpg,.png,.gif,.jpeg,.bmp" onchange="previewImage();" />
                                    <label class="custom-file-label" for="img">Chọn file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Tải lên</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->

        <div class="content-header">
            <button type="submit" class="btn btn-success">Đăng blog</button>
            <a href="@Url.Action("Index", "CompanyInfoes")">
                <button type="button" class="btn btn-outline-secondary">Quay về</button>
            </a>
        </div>
    }
</section>
<!-- /.content -->

@section Scripts {
    <script>
        $(document).ready(function () {
            updateHeight();

            $("#img").change(function () {
                readURL(this);
            });

            $('input, textarea').click(function () {
                $(this).next('.text-danger').hide();
                if (this.id === 'tittle') {
                    $('#meta').next('.text-danger').hide();
                }
                updateHeight();
            });
        });

        function updateHeight() {
            var mainHeight = $('#main-card').height();
            var subHeight = $('#sub-card').height();
            var imgHeight = $('#img-preview').height();
            $('#img-preview').height(imgHeight - subHeight + mainHeight);
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-preview').attr('src', e.target.result);
                    $('#img-preview').show();
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}