@model Pharmacy.Models.Order

@{
    ViewBag.Title = "Print";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>In hóa đơn</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Areas/admin/wwwroot/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Areas/admin/wwwroot/dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">

            <div class="row">
                <div class="col-12">
                    <h4>
                        <i class="fas fa-globe"></i> Pharma, Inc.
                        <small class="float-right">Ngày đặt: @Model.datecreate.Value.ToString("dd/MM/yyyy")</small>
                    </h4>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    Gửi từ
                    <address>
                        <strong>Pharmacy, Inc.</strong><br>
                        19 Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Hồ Chí Minh <br>
                        Số điện thoại: 1800 1911<br>
                        Email: pharmacy.contact@gmail.com
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    Đến
                    <address>
                        <strong>@Model.name</strong><br>
                        <b><i>Địa chỉ:</i></b> @Model.address<br>
                        <b><i>Phường/xã:</i></b> @Model.ward <br>
                        <b><i>Quận/huyện:</i></b> @Model.district<br>
                        <b><i>Tỉnh/thành phố:</i></b> @Model.city<br>
                        <b><i>Số điện thoại:</i></b> @Model.phone<br>
                        <b><i>Email:</i></b> @Model.Account.email
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Mã đơn hàng:</b> #@Model.id
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Đơn giá</th>
                                <th>Tổng cộng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detail in Model.OrdersDetails)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => detail.Product.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => detail.quantity)
                                    </td>
                                    <td>@string.Format("{0:#,##0} VND", detail.price)</td>
                                    <td>@string.Format("{0:#,##0} VND", detail.amount)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">
                    <p class="lead">Phương thức thanh toán</p>
                    <img src="~/Areas/admin/wwwroot/dist/img/credit/visa.png" alt="Visa">
                    <img src="~/Areas/admin/wwwroot/dist/img/credit/mastercard.png" alt="Mastercard">
                    <img src="~/Areas/admin/wwwroot/dist/img/credit/american-express.png" alt="American Express">
                    <img src="~/Areas/admin/wwwroot/dist/img/credit/paypal2.png" alt="Paypal">

                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                        Hiện tại chúng tôi chỉ chấp nhận thanh toán bằng tiền mặt. Các phương thức thanh toán khác đang trong quá trình phát triển, sẽ sớm phục vụ quý khách trong thời gian sớm nhất.
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <p class="lead">Ngày giao dự kiến 20/05/2023</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th style="width:50%">Tổng đơn hàng:</th>
                                    <td>@string.Format("{0:#,##0} VND", Model.total_amount)</td>
                                </tr>
                                <tr>
                                    <th>Phí ship:</th>
                                    <td>Miễn phí</td>
                                </tr>
                                <tr>
                                    <th>Số tiền phải thanh toán:</th>
                                    <td>@string.Format("{0:#,##0} VND", Model.total_amount)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.col -->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>

<script type="text/javascript">

    window.addEventListener("load", window.print());
</script>

</html>
